@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  gap: 0.3rem;
}

.form-control button {
  font-size: clamp(14px, 2vw, 16px);
}

h2 {
  font-size: clamp(24px, 2.5vw, 40px);
  font-weight: 500;
}

.form-control input,
.form-control select,
.form-control textarea {
  margin: 5px 0 20px;
}
.form-control select {
  outline: solid rgb(235, 235, 235);
  padding: 0 10px;
  margin: 5px 0 20px;
}
/* 


h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
} */
/* 

*/
p {
  font-size: 1.1rem;
}

.container{
  margin-bottom: 30px;
}

form .input-div {
  position: relative;
  margin: 0.5rem 0;
}

form .input-div svg {
  position: absolute;
  top: 12px;
  right: 25px;
  font-size: 1.3rem;
}

form .input-div input {
  background-color: white;
}

.status-new {
  background-color: rgb(8, 113, 8);
}

.status-closed {
  background-color: rgb(204, 10, 10);
}

.ticket-header,
.ticket {
  display: flex;
  gap: 2rem;
  padding: 1rem 1rem;
  background-color: rgb(224, 224, 224);
  font-size: clamp(10px, 2.5vw, 15px);
}

.ticket p,
.ticket a button {
  flex: 1;
  font-size: clamp(10px, 2vw, 15px);
}

.ticket-header div {
  flex: 2;
}

@media (min-width: 1027px) {
  .ticket-header,
  .ticket {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 2rem;
    padding: 1rem 3rem;
    background-color: rgb(224, 224, 224);
  }
}
