@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  gap: 0.3rem;
}
h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.1rem;
}

form .input-div {
  position: relative;
  margin: 0.5rem 0;
}

form .input-div svg {
  position: absolute;
  top: 12px;
  right: 25px;
  font-size: 1.3rem;
}

form .input-div input {
  background-color: white;
}

.ticket-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 2rem;
  padding: 1rem 3rem;
  background-color: rgb(224, 224, 224);
}

.ticket {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 2rem;
  padding: 1rem 3rem;
  background-color: rgb(224, 224, 224);
}

.status-new {
  background-color: rgb(8, 113, 8);
}

.status-closed {
  background-color: rgb(204, 10, 10);
}